<form method="POST" action="https://egf.onrender.com/api/addresses/">
{% csrf_token %}

<input type="text" name="name1" placeholder="Name">
<input type="email" name="email" placeholder="Email">
<input type="text" name="contact" placeholder="Contact">
<input type="text" name="country" placeholder="Country">
<input type="text" name="state" placeholder="State">
<input type="text" name="city" placeholder="City">
<input type="text" name="pincode" placeholder="Pincode">

<button type="submit">Submit</button>
</form>