<form method="POST" action="https://egf.onrender.com/api/addresses/" enctype="multipart/form-data">

<!-- <form method="POST" action="/api/addresses/" enctype="multipart/form-data"> -->
{% csrf_token %}

<input type="text" name="name1" placeholder="Name">
<input type="email" name="email" placeholder="Email">
<input type="text" name="contact" placeholder="Contact">
<input type="text" name="country" placeholder="Country">
<input type="text" name="state" placeholder="State">
<input type="text" name="city" placeholder="City">
<input type="text" name="pincode" placeholder="Pincode">
<input type="file" name="image">

<button type="submit">Submit</button>
</form>